body {
	position: fixed;
	inset: 0;
}

canvas#display {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}

div#interface {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template:
		'audio-control-area		audio-auxiliary-area	' auto
		'playback-control-area	playback-auxiliary-area	' 1fr
		'playback-track-area	playback-track-area		' auto
		/ 1fr auto
	;
	overflow: hidden;
}

div#interface > *#audio-control {
	grid-area: audio-control-area;
}

audio#player[data-ready] ~ div#interface button#audio-drive {
	& img[alt="Audio drive"].icon {
		content: url(../resources/icons/eject.svg);
	}
}

div#interface > *#playback-control {
	grid-area: playback-control-area;
	align-items: end;
}

audio#player[data-ready][data-playing] ~ div#interface > *#playback-control img[alt="Status"].icon {
	content: url(../resources/icons/pause.svg);
}

div#interface > *#playback-auxiliary {
	grid-area: playback-auxiliary-area;
	align-items: end;
}

div#interface > input#playback-track {
	grid-area: playback-track-area;
}

input#playback-track {
	grid-area: playback-track-area;
	width: 100%;
	height: var(--size-standart);
	position: relative;
	--track-value: 0%;

	&::-webkit-slider-thumb {
		visibility: hidden;
	}

	&::before {
		content: "";
		background-image: linear-gradient(0deg, hsl(from var(--color-highlight) h 0% l / 0.25) 0%, transparent 50%);
		position: absolute;
		inset: 0 auto 0 0;
		width: 100%;
	}

	&::after {
		content: "";
		background-image: linear-gradient(0deg, var(--color-highlight) 0%, transparent 50%);
		position: absolute;
		inset: 0 auto 0 0;
		width: var(--track-value);
	}
}

dialog#configurator {
	position: absolute;
	min-width: calc(9 * var(--size-standart));
	max-width: calc(18 * var(--size-standart));
	width: fit-content;
	max-height: 100%;
	overflow: auto;
}

@media screen and (orientation: portrait) {
	dialog#configurator {
		inset: auto 0 0 0;
		height: 60vmax;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

@media screen and (orientation: landscape) {
	dialog#configurator {
		inset: 0 0 0 auto;
		height: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

div:has(button#close-configurator) {
	position: sticky;
	top: 0;
}

dialog.loader img[alt="Logo"] {
	content: url(../resources/loading.gif);
}