body {
	display: grid;
	grid-auto-rows: max-content;
	place-items: start center;
	overflow: hidden auto;
}

a[href="./visualizer.html"] {
	position: sticky;
	top: var(--size-large-gap);
	justify-self: left;
}

div.-settings-panel {
	min-width: var(--size-large-standart);
	max-width: calc(100vmin - 2 * var(--size-large-gap));
	width: -moz-fit-content;
	width: fit-content;
	height: fit-content;
	display: grid;
}

select#visualization:not(:has(option[value="spectrogram"]:checked)) ~ dfn.definition *.-spectrogram {
	display: none !important;
}

select#visualization:not(:has(option[value="waveform"]:checked)) ~ dfn.definition *.-waveform {
	display: none !important;
}

input#min-decibels,
input#max-decibels {
	width: 6em;
}

button#reset-settings {
	width: -moz-fit-content;
	width: fit-content;
	justify-self: center;
}

button#share-settings {
	width: -moz-fit-content;
	width: fit-content;
	justify-self: center;
}