body {
	position: fixed;
	inset: 0;
}

canvas#visualizer {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}

div#interface {
	position: absolute;
	inset: 0;
}

@keyframes -show-panel {
	0% {
		pointer-events: none;
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes -hide-panel {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		pointer-events: none;
	}
}

audio#player:not([data-playing]) ~ div#interface {
	animation: -show-panel 0.1s ease-in 0s 1 both;
}

audio#player[data-playing] ~ div#interface {
	animation: -hide-panel 0.3s ease-out 0s 1 both;
}

div#interface *.-normalized {
	width: -moz-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: fit-content;
	position: absolute;
	margin: auto;
}

label[for="loader"] {
	inset: var(--size-large-gap) auto auto var(--size-large-gap);
}

audio#player:not([data-ready]) ~ div#interface label[for="loader"] {
	inset: 0;
}

audio#player:not([data-ready]) ~ div#interface label[for="loader"] > img[alt="Upload"] {
	height: calc(var(--size-standart) * 3);
}

audio#player:not([data-ready]) ~ div#interface label[for="loader"] > *:not(img[alt="Upload"]) {
	display: none !important;
}

a[href="./settings.html"] {
	inset: var(--size-large-gap) var(--size-large-gap) auto auto;
}

div.-status {
	inset: 0;
	pointer-events: none;
}

audio#player:not([data-ready]) ~ div#interface div.-status {
	display: none !important;
}

img[alt="Status"] {
	height: calc(var(--size-standart) * 3);
}

audio#player[data-playing] ~ div#interface div.-status > img[alt="Status"] {
	content: url(../../resources/pause.png);
}

audio#player:not([data-playing]) ~ div#interface div.-status > img[alt="Status"] {
	content: url(../../resources/play.png);
}

span#time {
	inset: auto auto var(--size-large-gap) var(--size-large-gap);
}

button#toggle-fullscreen {
	inset: auto var(--size-large-gap) var(--size-large-gap) auto;
}

button#toggle-fullscreen > img[alt="Fullscreen"] {
	content: url(../../resources/fullscreen-enter.png);
}

:root:fullscreen button#toggle-fullscreen > img[alt="Fullscreen"] {
	content: url(../../resources/fullscreen-exit.png);
}

audio#player:not([data-ready]) ~ div#interface button#toggle-fullscreen {
	display: none !important;
}

input#time-track {
	inset: auto 0 0 0;
	width: 100% !important;
	height: 100%;
	-webkit-appearance: none;
	appearance: none;
	--procent-fill: 0%;
	position: relative;
}

audio#player:not([data-ready]) ~ input#time-track {
	pointer-events: none;
}

input#time-track::-webkit-slider-thumb {
	visibility: hidden;
}

input#time-track::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: var(--procent-fill);
	background-color: var(--color-highlight);
	pointer-events: none;
}

div#information {
	position: absolute;
	inset: 0;
	display: grid;
	place-content: end start;
	animation: -hide-panel 0s ease-out 0s 1 both;
	pointer-events: none;
}

div#information * {
	opacity: 0.5;
}

audio#player[data-ready][data-playing] ~ div#information[data-intro] {
	animation: -show-panel 0.3s ease-out 0s 1 both;
}

audio#player[data-ready]:not([data-playing]) ~ div#information,
div#information:not([data-intro]) {
	animation: -hide-panel 0.3s ease-out 0s 1 both;
}